.box{
    width: 400px;
    height: 100px;
    background-color: skyblue;
    border: 2px solid black;
    /* transition-property: all;
    transition-duration: 4s;
    transition-delay: 0s;
    transition-timing-function: ease-in-out; */
    transition: width 5s, height 2s 1s linear ;
}
.box:hover{
    background-color: #00ff22;
    border: 5px dashed rgb(0, 0, 0);
    width: 500px;
    height: 200px;
}
.box2{
    width: 120px;
    height: 120px;
    background-color: rgb(250, 246, 0);
    border: 2px solid rgb(0, 26, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    transition: all 4s linear 0s;
}
.box2:hover{
    border-radius: 200px;
    background-color: #00f7ff;
    transform: rotate(360deg) scale(2);
    /* transform: skew(360deg); */
    /* transform: translate(100px, 100px); */
}
p{
    font-size: 16px;
}
